body{
  background-color: #E9ECEF;
  padding-top: calc(var(--base-unit)*4);
}
body a{
  text-decoration-line: none;
}


/* header 시작 */
  .header_wrap{
    background-color: #212529;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 10;
  }
  .nav-tabs{
    border-bottom:none ;
    height: calc(var(--base-unit)*4);
    padding-top: calc(var(--base-unit)*1.5);
  }
  .nav-tabs a{
    color: var(--mc-white);
    font-weight: 500;
    text-decoration: none;
  }
  .nav-login a{
    font-weight: 400;
  }
  .nav .dropdown{
    width:calc(var(--base-unit)*6);
    text-align: center;
  }
  .nav .dropdown a{
    padding-bottom:calc(var(--base-unit)*1.4 + .5px);
    padding-left: calc(var(--base-unit)*1.8);
  }

  .dropdown-menu{
    padding:0;
  }
  /* 로고 */
  .main_logo a{
    display: block;
    text-indent: -9999rem;
    background-image: url('../img/keepcoding_logo_white.png');
    background-size: cover;
    width: 130px;
    height: 25px;
    background-repeat: no-repeat;
  }

  /* 카트 */
  .item_cart a{
    display: block;
    text-indent: -9999rem;
    background-image: url('../img/cart.svg');
    background-size: cover;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    margin-right:18px ;
  }

  /* 드롭다운에 호버하면 생기도록 변경 */
  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
    margin-top: calc(var(--base-unit)*1.4 + .8px);
    margin-left: 16px;
  }

  /* 호버하면 있는 관리자 보라색 속성 없앰 */
  .nav-tabs a:hover{
    text-decoration: none;
    color: var(--mc-white);
  }

  /* 드롭다운 보더 기본 라인속성 없앰 */
  .nav-tabs .nav_dropdown{
    border: 0;
  }
  /* 드롭다운 전체 글자색상과 폰트와 문자 가운데로 오도록 */
  .nav-tabs .nav_dropdown a{
    color: var(--mc-gray1);
    font-weight: 400;
    text-align: center;
    padding: 14px;
  }
  /* 드롭다운 마지막 아이 보더 라디어스 추가  */
  .nav-tabs .nav_dropdown li:last-child a{
    border-bottom-left-radius: var(--bs-border-radius);
    border-bottom-right-radius: var(--bs-border-radius);
  }
  /* 드롭다운 색상변경 */
  .nav-tabs .nav_dropdown a:active{
  background-color: var(--mc-gray1);
  color: var(--mc-white);
  }

  /* 기본화살표없앰 */
  .dropdown-toggle::after{
    display: none;
  }

  /* 회원파트 사이에 | 추가 */
  .nav-login li:last-child::before{
    content: "|";
    padding: 0 10px;
    color: var(--mc-white);
  }

/* header 끝 */

/* footer 시작 */
.main_footer{
  background-color: #212529;
  height: calc(var(--base-unit)*12);
  color: var(--mc-white);
}
.main_footer ul{
  margin-top: calc(var(--base-unit)*2);
  font-weight: 500;
}

.main_footer ul li a{
  text-decoration-line: none;
  color: var(--mc-white);
}
.main_footer ul li a:hover{
  color: var(--primary-color);
}

.main_footer ul li+li::before{
  content:"|";
  padding: 0 20px;
  font-weight:200;
}
.footer_address>*{
  text-align: center;
}
.footer_address span{
  font-weight:300;
  padding-left: 10px;
}
.main_footer address, .main_footer .footer_item{
  margin-top: 30px;
}

.main_footer .footer_copyright{ 
  margin-top: 10px;
  font-size: var(--font-size-14);
}
/* footer 끝 */

/* main 시작 */
  .container h2 a{
    color: var(--mc-gray1);
  }
  /* main_section01_search 시작 */
  .main_section01_search{
    margin-top: calc(var(--base-unit)*7);
  }
  .main_section01_search a{
    color: var(--mc-gray1);
  }
  .main_section01_search li:hover img {
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
  }
  .main_section01_search li img.restore {
    transform: scale(1); 
    transition: transform 0.3s ease; 
  }
  .main_section01_search h2 span, 
  .main_section01_search li:hover a{
    color: var(--primary-color);
  }
  .main_section01_search h2 span{
    padding-left: 10px;
  }
  .main_section01_search h2{
    font-size: 34px;
    font-weight: 600;
    padding-bottom: 28px;
  }

  .main_middlec_icon{
    margin-top:calc(var(--base-unit)*3);
    margin-bottom:calc(var(--base-unit)*6);
    text-align: center;
  }
  .main_middlec_icon li {
    box-sizing: content-box;
    width: 50px;
    height: 77px;
  }
  .main_middlec_icon li img, .main_middlec_icon li svg{
    margin-bottom: 10px;
  }
  /* main_section01_search 끝 */
  
  /* main_section02_starter, main_section03_shorts 시작*/
  .main_section02_starter, .main_section03_shorts{
    margin-bottom: calc(var(--base-unit)*4);
  }
  .main_section02_starter>p>span, .main_section03_shorts>p>span{
    color: var(--primary-color);
    font-weight: 600;
  }
  .main_section02_starter>p, .main_section03_shorts>p{
    padding: 5px 0 18px;
  }
  /* main_section02_starter, main_section03_shorts 끝*/

  .main_section02_starter p, .main_section03_shorts p, .main_section05_etc p{
    color: var(--mc-white);
  }

  /* main_section04_banner 시작*/
  .main_section04_banner .banner{width: 100%;}
  .main_section04_banner .banner2 .btn{background-color: var(--primary-color);color: var(--mc-white);}
  .main_section04_banner .banner2 .btn:active {background-color: var(--primary-color); color: var(--mc-white);}
  .main_section04_banner .banner2{
    background-color: var(--mc-white); 
    margin-top: var(--base-unit);
    margin-bottom: calc(var(--base-unit)*4)
  }
  .main_section04_banner .banner2 span{color: var(--primary-color);}
  
  /* main_section04_banner 끝*/
  
  .main_section05_etc{
    padding-bottom: calc(var(--base-unit)*8);
  }
  .main_section05_etc h2{
    padding-bottom: 18px;
  }
/* main 끝 */

/* pshop 공통 시작 */
.pshop_title, .pshop_details_title{
  margin: calc(var(--base-unit)*7) auto calc(var(--base-unit)*2);
}
/* pshop 시작 */
.pshop_section01{
  margin-right: var(--base-unit);
}
.pshop_section01_category{
  margin-top: var(--base-unit);
  background-color: var(--mc-white);
  border-radius: 4px;
  padding: var(--base-unit);
}
.pshop_section01_recommend, .pshop_section01_type, .pshop_section01_level{
  margin-top: calc(var(--base-unit)*2);
}
.pshop_section01_list .form-check{
  padding-top: calc(var(--base-unit)*.3);
}
.pshop_section02 h2{
  margin-bottom: var(--base-unit);
}
.pshop_section02 .card{
  width:calc(var(--base-unit)*13);
}
.pshop_section02 form{
  height: calc(var(--base-unit)*2);
  margin-bottom: var(--base-unit);
}
.pshop_section02 nav{
  margin: calc(var(--base-unit)*2) auto calc(var(--base-unit)*8);
}
/* pshop 끝 */

/* pshop_details 시작 */
.pshop_details_01{
  margin-bottom: calc(var(--base-unit)*2)
}
.pshop_details_01 .cate_icon{
  width: 50px;
}
.pshop_details_01>img{
  width: 647px;
  height: 406px;
  border-radius: 10px;
}
.pshop_details_text img, .pshop_details_text h3 {
  margin-bottom: var(--base-unit);
}
.pshop_details_01_contetn{
  margin: calc(var(--base-unit)*2) 0 calc(var(--base-unit)*5.5);
}
.pshop_details_02{
  background-color: var(--mc-white);
  padding: var(--base-unit);
  border-radius: 10px;
}
.pshop_details_02 button{
  padding: 11px;
}
.pshop_details_02 div{
  padding: 13px;
}
.pshop_details_03{
  margin: calc(var(--base-unit)*2) 0 calc(var(--base-unit)*3);
}
.pshop_details_04{
  margin-bottom: calc(var(--base-unit)*8);
}
/* pshop_details 끝 */


/* cart_section 시작 */
.cart_section_title{
  margin: calc(var(--base-unit)*7) auto calc(var(--base-unit)*2);
}
.cart_section .cart, .cart_section_select h4{
  margin-bottom: var(--base-unit);
}
.cart_trash:hover{
  text-decoration: underline;
}
.cart_card div img{
  width: 200px;
  border-radius: 10px;
}
.cart_section_calc div{
  margin: calc(var(--base-unit)*5) 0 calc(var(--base-unit)*8) ;
  background-color: var(--mc-white);
  border-radius: 10px;
  padding: var(--base-unit);
}
.cart_section_calc div ul{
  margin-bottom: var(--base-unit);
}
.cart_section_calc div ul:nth-child(3){
  margin-top: calc(var(--base-unit)*3);
}
/* cart_section 끝 */

/* mypage 시작 */
.myproduct_list{
  margin-top: calc(var(--base-unit)*7);
}
.myproduct_list_my{
  margin-right: var(--base-unit);
}
.myproduct_list_list .h4{
  margin-bottom: calc(var(--base-unit)*2);
}
.myproduct_list_my ul li{
  background-color: var(--mc-white);
  padding: 14px 0 15px 24px;
  margin-top: var(--base-unit);
  border-radius: 4px;
}
.myproduct_list_list form input, .myproduct_list_list form button{
  padding:12px;
  margin-bottom: var(--base-unit) ;
}
.myproduct_list_list .cart{
  margin-bottom: var(--base-unit) ;
}
.myproduct_list div nav{
  margin: var(--base-unit) auto calc(var(--base-unit)*8) ;
}
/* mypage 끝 */