body{
    background-color: var(--mc-gray2);
}
.test_card{
  width: 360px;
  margin: 48px 0;
  padding: 48px;
  border-radius: 20px;
  /* background: linear-gradient(321deg, #4E75FF 100%, #9EC5FE 100%); */
  background-color: var(--mc-gray1);
  transition: 0.8s ease-in;
}
#start{
  width: 100%;
  height: 100%;
}
#progress{
  width: 100%;
  height: 100%;
}
.question{
  margin: 24px 0;
}
.view.active{
  display: flex;
}
.view{
  display: none;
}
.view .btn+.btn{
  margin-top: 10px;
}
.result_img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
