@charset "utf-8";
/* @import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"); */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css");

/* root 변경 */

:root {
  /* typo */
  --font-size-16: 16px;
  --font-size-14: calc(var(--font-size-16)*0.875);
  --font-size-12: 12px;
  --font-size-10: 10px;

  /* layout */
  --base-unit: 24px;

  /* color */

  /* brand color */
  --primary-color: #4e75ff;
  --primary-color-hover: #5579fa;
  /* sub color */
  --sc-green: #75b798;
  --sc-cyan: #0aa2c0;
  --sc-orange: #fd9843;
  --sc-red: #e35d6a;
  --sc-pink: #e685b5;
  --sc-purple: #c5b3e6;
  --sc-blue: #9ec5fe;
  /* mono color */
  --mc-black: #000;
  --mc-gray1: #212529;
  --mc-gray2: #f2f3f5;
  --mc-gray3: #495057;
  --mc-gray4: #969696;
  --mc-gray5: #212121;
  --mc-gray6: #ECECEC;
  --mc-gray7: #393939;
  --mc-white: #fff;
  --mc-body: #E9ECEF;
  --mc-login:#6C757D;
  /* rgba */
  --mc-b-rgba: rgba(0, 0, 0, 0.55);
};

/* color */

/* primary color */

.pc {
  color: var(--primary-color);
}
.pc2 {
  color: var(--primary-color);
}
.pcbg {
  background-color: var(--primary-color);
}
.pc-hover {
  color: var(--primary-color-hover);
}
.pcbg-hover {
  background-color: var(--primary-color-hover);
}

/* sub color */

.sc-green {
  color: var(--sc-green);
}
.scbg-green {
  background-color: var(--sc-green);
}

.sc-cyan {
  color: var(--sc-cyan);
}
.scbg-cyan {
  background-color: var(--sc-cyan);
}

.sc-orange {
  color: var(--sc-orange);
}
.scbg-orange {
  background-color: var(--sc-orange);
}

.sc-red {
  color: var(--sc-red);
}
.scbg-red {
  background-color: var(--sc-red);
}

.sc-pink {
  color: var(--sc-pink);
}
.scbg-pink {
  background-color: var(--sc-pink);
}

.sc-purple {
  color: var(--sc-purple);
}
.scbg-purple {
  background-color: var(--sc-purple);
}

.sc-blue {
  color: var(--sc-blue);
}
.scbg-blue {
  background-color: var(--sc-blue);
}

/* mono color */

.mc-black {
  color: var(--mc-black);
}
.mcbg-black {
  background-color: var(--mc-black);
}

.mc-gray1 {
  color: var(--mc-gray1);
}
.mcbg-gray1 {
  background-color: var(--mc-gray1);
}

.mc-gray2 {
  color: var(--mc-gray2);
}
.mcbg-gray2 {
  background-color: var(--mc-gray2);
}

.mc-gray3 {
  color: var(--mc-gray3);
}
.mcbg-gray3 {
  background-color: var(--mc-gray3);
}

.mc-gray4 {
  color: var(--mc-gray4);
}
.mcbg-gray4 {
  background-color: var(--mc-gray4);
}

.mc-gray5 {
  color: var(--mc-gray5);
}
.mcbg-gray5 {
  background-color: var(--mc-gray5);
}

.mc-gray6 {
  color: var(--mc-gray6);
}
.mcbg-gray6 {
  background-color: var(--mc-gray6);
}

.mc-gray7 {
  color: var(--mc-gray7);
}
.mcbg-gray7 {
  background-color: var(--mc-gray7);
}

.mc-white {
  color: var(--mc-white);
}
.mcbg-white {
  background-color: var(--mc-white);
}

.mc-b-rgba {
  color: var(--mc-b-rgba);
}
.mcbg-b-rgba {
  background-color: var(--mc-b-rgba);
}

/* layout */

.content{
  box-sizing: content-box;
  width:70%;
  padding: 147px 0px 68px 388px;
}

.pd10 {
  padding-bottom: 10px;
}
.pd24 {
  padding-bottom: calc(var(--base-unit) * 1);
}
.pd48 {
  padding-bottom: calc(var(--base-unit) * 2);
}
.pd72 {
  padding-bottom: calc(var(--base-unit) * 3);
}

hr{margin:0;}

/* component */

.bd-callout {
  width: 100%;
  padding: 38.5px 52.5px;
  color: var(--bd-callout-color, inherit);
  background-color: #fff;
  border-left: 0.25rem solid var(--bd-callout-border, #4e75ff);
}

/* 리스트 스타일 변경 */

li {
  list-style: none;
}
dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
ol,
ul {
  padding-left: 0;
}

/* text tag 마진 변경 */

p {
  margin-bottom: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-weight: bold;
}

/* font 지정 */

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  background-color: var(--gray2);
  font-size: 16px;
}

/* typo */

.nowrap{
  white-space: nowrap;
}

.fs-12{
  font-size: var(--font-size-12);
}
.fs-14{
  font-size: var(--font-size-14);
}
.fs-10{
  font-size: var(--font-size-10);
}

/* primary 컬러 변경 */

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.btn-outline-primary {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.form-check-input:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.page-link {
  color: var(--primary-color);
  background-color: var(--bs-pagination-bg);
  border: var(--bs-pagination-border-width) solid
    var(--bs-pagination-border-color);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


/* 마우스 호버나 액티브 상태 컬러 변경 */

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: var(--primary-color-hover);
  border-color: var(--primary-color-hover);
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active {
  background-color: var(--primary-color-hover);
  border-color: var(--primary-color-hover);
  color: var(--mc-white);
}

input:focus {
  outline: 0px 0px 5px #4e75ff !important;
}

/* datepicker 색상 변경 */

.ui-state-highlight, 
.ui-widget-content .ui-state-highlight, 
.ui-widget-header .ui-state-highlight {
  border: 1px solid var(--primary-color);
  background: rgba(78, 117, 255, 0.15);
  color: var(--primary-color);
}

.ui-state-active, 
.ui-widget-content .ui-state-active{
  border: 1px solid var(--primary-color);
  background: var(--primary-color);
  color: var(--mc-white);
}

.datepicker input{
  background: url(admin/img/calendar.svg) no-repeat 96% center; 
}

/* search bar */

.search_own{
  position: relative;
}
.search_input{
  width: 340px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid var(--mc-gray7);
  background-color: transparent;
  color: var(--mc-gray5);
  padding-left: 50px;
}
.search_input::placeholder{
  color:var(--mc-gray4);
}
.search_own:hover .search_btn svg{
  fill:var(--primary-color);
}
.search_btn svg{
  transition: 0.3s ease-out;
}
.search_btn{
  background-color: transparent;
  border: none;
  color: var(--mc-gray7);
  position:absolute;
  top:50%;
  left: 15px;
  transform: translateY(-50%);
}

/* card */
.card{
  border-radius: 10px;
  border:none;
}
.card.sec2 .btn{
  padding: 4px 8px;
  pointer-events: none;
  line-height: 100%;
}
.card.sec2 .btn+.btn{
  margin-left: 5px;
}
.card.sec3 .btn+.btn{
  margin-top: 15px;
}
.card.sec5{
  padding: 48px 40px;
}
.computerImg{
  width:193px;
}
.card-title {
  margin-bottom: 4px;
}

.card-body.big-pd{
    padding: 72px 37px;
}
.card .btn.big-pd{
  padding: 17px 12px;
}
.btn.br-10{
  border-radius: 10px;
}
.btn.br-20{
  border-radius: 20px;
  width: 230px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
}

/* banner */

.banner{
  width: 1320px;
  height: 216px;
  flex-shrink: 0;
  border-radius: 10px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.12);
  padding: 55px 336px;
}
.banner-tag{
  padding: 2.5px 14px;
  width:fit-content;
  border-radius: 10px;
}
.bannerimg1{
  width: 168px;
  height: 168px;
}
.banner a{
  text-decoration: none;
}

/* cart card */

.cart_card{
  border-radius: 10px;
  padding:24px;
}
/* 확인용으로 만든 css, 사용금지*/

.flex-box {
  background-color: var(--primary-color);
  width: 100px;
  height: 100px;
}

