label{
  display: block;
}
.product_up .form-control{
  height: calc(var(--base-unit)*2);
}
.product_up_name,
.product_detail{
  padding:0;
}
.product_up_name .form-control{
  width: 100%;
}
.product_up input::placeholder{
  /* font-size: calc(var(--font-size)*0.875); */
  font-size: 14px;
  color: #969696;
}
/* .product_up_name input::placeholder,
.product_up_price input::placeholder,
.product_up_regdate input::placeholder{
  font-size: 14px;
  color: #969696;
} */
.product_status{
  padding-left: 42px;
}
.product_no_status{
  margin-left: calc(var(--base-unit)*2);
}

.product_status_input.form-check-input {
  margin-top: 0;
}
.product_status_checkbox{
  margin-top: var(--base-unit);
}
.product_up_price input,
.product_up_min_price input,
.product_up_max_price input,
.product_up_regdate input{
  width: 380px;
  height: 48px;
}
.product_up_category select,
.product_up_usedate select{
  width: 380px;
  height: 48px;
}
.product_up_category .category_name,
.product_up_video_url h6,
.product_up_video_plus{
  text-indent: -999999em;
}
.product_up_category select.form-select,
.product_up_usedate select.form-select{
  font-size: 16px;
  color: var(--mc-gray1);

}
.product_up_category select.form-select,
.product_up_usedate select.form-select-sm{
  padding-left: 12px;
}
.product_up_usedate{
  margin-right: calc(var(--base-unit)*2.5);
}
.product_up_price{
  margin-right: calc(var(--base-unit)*1);
}
.product_up_thumbnail input{
  width: 1232px;
}
.product_up_thumbnail .form-control-lg{
  font-size: 16px;
  line-height: calc(var(--base-unit)*1.25);
}
.product_up_thumbnail .form-control{
  color: #969696;
}
.product_up_thumbnail .form-label{
  margin-bottom: 0;
}
.product_up_plus{
  display: inline-flex;
  padding: 6px 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.product_up_btn .product_up_cancel{
  margin-left: 20px;
  background-color: #6C757D;
  border-color: #6C757D;
}