label{
  display: block;
}
.product_up_name input{
  width: 1008px;
  height: 48px;
}
.product_up_name input::placeholder,
.product_up_price input::placeholder{
  /* font-size: calc(var(--font-size)*0.875); */
  font-size: 14px;
  color: #969696;
}
.product_status{
  padding-left: 42px;
}
.product_no_status{
  margin-left: 16px;
}
.product_status_input.form-check-input {
  margin-top: 0;
}
.product_status_checkbox{
  margin-top: var(--base-unit);
}
.product_up_price input,
.product_up_min_price input,
.product_up_max_price input,
.product_up_regdate input,
.product_up_enddate input{
  width: 380px;
  height: 48px;
}
.product_up_usedate select{
  width: 380px;
  height: 48px;
}
.product_up_usedate select.form-select{
  font-size: 16px;
  color: var(--mc-gray1);
}
.product_up_usedate select.form-select-sm{
  padding-left: 12px;
}
.product_up_image input{
  width: 1232px;
}
.product_up_image .form-control-lg{
  font-size: 16px;
  line-height: calc(var(--base-unit)*1.25);
}
.product_up_image .form-control{
  color: #969696;
}
.product_up_image .form-label{
  margin-bottom: 0;
}
.product_up_btn .product_up_cancel{
  margin-left: 20px;
  background-color: #6C757D;
  border-color: #6C757D;
}