/* bootstrap 초기화 */

.row {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}

/* DIALOG POPUP */
.popup {
  background: var(--mc-white);
  position: fixed;
  top: 40px;
	left: 40px;
  padding: 20px 30px;
  border-color: var(--primary-color);
	border-width: 7px;
	box-sizing: border-box;
	margin: 0;
	z-index: 99999;
	font-size: 16px;
	line-height: 25px;
}

.popup a {
	text-decoration: underline;
}

.popup h2 {
  font-size: 22px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 10px;
	color: var(--mc-black);
}

.popup hr {
  margin: 15px 0;
  border: none;
  border-bottom: 1px solid var(--mc-gray4);
}

.popup .info a,
.popup span {
  color: var(--mc-black);
}

.popup #close {
  width: 50px;
  height: 30px;
  cursor: pointer;
  background: var(--mc-white);
  color: var(--primary-color);
  border-radius: 3px;
  border-color: var(--primary-color);
}
.popup #close:hover {
  background: var(--primary-color-hover);
  color: var(--mc-white);
}

.popup .checkbox label {
  cursor: pointer;
  color: var(--mc-gray4);
	font-weight: lighter;
}

.popup #daycheck:checked + label {
  font-weight: bold;
  color: var(--primary-color-hover);
	font-weight: bold;
}
/* DIALOG POPUP */



/* header navbar */

nav{
  z-index: 100;
}
.nav_top > div{
  gap: 100px;
}
.user img{
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.logo a{
  display: block;
  text-indent: -9999rem;
  background-image: url('../img/logo.png');
  background-size: cover;
  width: 130px;
  height: 25px;
  background-repeat: no-repeat;
}
.nav_top{
  background-color: #fff;
  padding: 20px 40px;
  border-bottom: 0.3px silver solid;
  position:fixed;
  left:0;
  right:0;
  top:0;
}
.nav_side{
  position: fixed;
  width: 250px;
  top:71px;
  bottom:0;
  left: 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* right:250px; */
  background-color: #fff;
  border-right: 0.3px silver solid;
}
.nav_side ul{
  width: 100%;
}
.nav_side > ul > li{
  padding: 30px 37px;
  border-bottom: 0.3px silver solid;
}
.nav-link{
  padding: 0;
}
.nav_side > ul > li ul{
  display: flex;
  flex-direction: column;
  gap:20px;
}

/* 이은서 index.html 시작 */

.sell_report{
  width: 100%;
  gap:30px;
}
.member{
  width:100%;
}
.kcard.big{
  width: 100%;
}
.kcard{
  width: 600px;
  /* height: 144px; */
  padding:40px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  box-sizing: border-box;
  gap: 20px;
  transition: 0.3s ease-in;
  box-shadow: none;
}
.kcard:hover{
  background-color: rgba(255, 255, 255, .5);
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}
.kcard h6{
  margin-bottom: 30px;
}
.kcard_text span{
  display: block;
}
.rate{
  height: 25px;
  position: relative;
  width:100%;
  border:2px solid #ccc;
  border-radius: 12.5px;
}
.rate .bar{
  z-index: 1;
  position: absolute;
  left: 0;top: 0;bottom: 0;
  width: 0;
  background: #4E75FF;
}
.ratebar{
  gap: 30px;
}
.ratebar.front{
  padding-bottom: 20px;
}
.callout span{
  font-weight: bold;
}
.callout i {
  font-size: 25px;
}
.smile_icons i{
  font-size: 20px;
}
i.i-fill{
  color:var(--primary-color);
}
i.i-empty{
  color:var(--mc-gray2);
}
.coupon_report i{
  font-size: 35px;
}
.chart{ 
  width:25%;
  height:100%;
  padding: 24px;
  box-sizing: border-box;
}

/* 이은서 index.html 끝 */

/* 이은서 coupon_list.html-table 시작 */

.table{
  margin-bottom: 48px;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table td, .table th {
  padding: 0.75rem;
  /* vertical-align: top; */
  border-top: 1px solid #dee2e6;
}

.table tbody{
  border-bottom: 2px solid #dee2e6;
}

/* 이은서 coupon_list.html-table 끝 */

/* 이은서 category.html 시작 */

.cate_edit_btns a, .cate_size{
  text-decoration: none;
  color: var(--mc-gray3);
  opacity: 0.7;
  transition: 0.3s ease-in;
  cursor: pointer;
}
.cate_edit_btns a:hover{
  text-decoration: none;
  color: var(--primary-color);
}
.list-group-item{
  transition: 0.3s ease-in;
}
.list-group-item:hover{
  background-color: var(--mc-gray2);
}
.list-group-item:hover .cate_size{
  color: var(--mc-gray1);
  opacity: 1;
}
.form-control.big, .form-select.big, .list-group-item.big{
  padding: 16px;
}
.cate-list{
  width: 100%;
}
.cate-list button{
  width: 30%;
}
/* 이은서 category.html 끝 */

/* 이은서 coupon_deit.php 시작 */

.img_container{
  width: 100%;
  padding: 24px;
  border: 1px solid #dee2e6;
  border-radius: 10px;
}
.img_container img{
  width: 100%;
  object-fit: cover;
}

.coupon_up_image .row> .col-4{
  padding-left: 0;
}
.coupon_up_image .row> .col-8{
  padding-right: 0;
}

.path_container{
  padding: 24px;
  width: 100%;
  border: 1px solid #dee2e6;
  border-radius: 10px;
}

/* 이은서 coupon_deit.php 끝 */

/* 최성희 notice_list, qna_list, smember_list, tmember_list 시작 */
/* .notice_list_table thead th, .qna_list_table thead th, .smember_list_table thead th, .tmember_list_table thead th{
  padding: 1rem 0 1rem 1.5rem;
}
.notice_list_table td, .notice_list_table th,
.qna_list_table td, .qna_list_table th,
.smember_list_table td, .smember_list_table th,
.tmember_list_table td, .tmember_list_table th{
padding: 0.53rem 0 0.53rem 1.5rem;} */

.notice_view hr, .qna_view hr, .product_view hr, .coupon_view hr{
  border-color: var(--mc-black);
}
.notice_view img, .qna_view img{
  height: 150px;}

.coupon_view img{height: 120px;}

.btn-outline-primary.active, .active>.page-link {
  background-color: var(--primary-color);}

.notice_list a, .qna_list a, .smember_list a, .tmember_list a{color: var(--primary-color);}
/* 최성희 notice_list, qna_list, smember_list, tmember_list 시작 끝 */

.coupon_no_status, .product_no_status{
  margin-left: 16px;
}
.coupon_up_status_input.form-check-input, .product_status_input.form-check-input, .coupon_change_status_input.form-check-input{
  margin-top: 0;
}
.kcard h6{
  margin-bottom: 30px;
}
.kcard_text span{
  display: block;
}
.rate{
  height: 25px;
  position: relative;
  width:100%;
  border:2px solid #ccc;
  border-radius: 12.5px;
}
.rate .bar{
  z-index: 1;
  position: absolute;
  left: 0;top: 0;bottom: 0;
  width: 0;
  background: #4E75FF;
}
.ratebar{
  gap: 30px;
}
.ratebar.front{
  padding-bottom: 20px;
}
.callout span{
  font-weight: bold;
}
.callout i {
  font-size: 25px;
}
.smile_icons i{
  font-size: 20px;
}
i.i-fill{
  color:var(--primary-color);
}
i.i-empty{
  color:var(--mc-gray2);
}
.coupon_report i{
  font-size: 35px;
}

/* 이은서 index.html 끝 */

/* 이은서 coupon_list.html-table 시작 */

.table{
  margin-bottom: 48px;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table td, .table th {
  padding: 0.75rem;
  /* vertical-align: top; */
  border-top: 1px solid #dee2e6;
}

.table tbody{
  border-bottom: 2px solid #dee2e6;
}

/* 이은서 coupon_list.html-table 끝 */

/* 이은서 category.html 시작 */

.cate_edit_btns a, .cate_size{
  text-decoration: none;
  color: var(--mc-gray3);
  opacity: 0.7;
  transition: 0.3s ease-in;
  cursor: pointer;
}
.cate_edit_btns a:hover{
  text-decoration: none;
  color: var(--primary-color);
}
.list-group-item{
  transition: 0.3s ease-in;
}
.list-group-item:hover{
  background-color: var(--mc-gray2);
}
.list-group-item:hover .cate_size{
  color: var(--mc-gray1);
  opacity: 1;
}

.form-control.big, .form-select.big, .list-group-item.big{
  padding: 16px;
}

/* 이은서 category.html 끝 */


/* 최성희 notice_list, qna_list, smember_list, tmember_list 시작 */
/* .notice_list_table thead th, .qna_list_table thead th, .smember_list_table thead th, .tmember_list_table thead th{
  padding: 1rem 0 1rem 1.5rem;
}
.notice_list_table td, .notice_list_table th,
.qna_list_table td, .qna_list_table th,
.smember_list_table td, .smember_list_table th,
.tmember_list_table td, .tmember_list_table th{
padding: 0.53rem 0 0.53rem 1.5rem;} */

.notice_view hr, .qna_view hr, .product_view hr, .coupon_view hr{
  border-color: var(--mc-black);
}
.notice_view img, .qna_view img{
  height: 150px;}

.coupon_view img{height: 120px;}

.btn-outline-primary.active, .active>.page-link {
  background-color: var(--primary-color);}

.notice_list a, .qna_list a, .smember_list a, .tmember_list a{color: var(--primary-color);}
/* 최성희 notice_list, qna_list, smember_list, tmember_list 시작 끝 */

.coupon_no_status, .product_no_status{
  margin-left: 16px;
}
.coupon_up_status_input.form-check-input, .product_status_input.form-check-input, .coupon_change_status_input.form-check-input{
  margin-top: 0;
}

.form-control-lg::placeholder{
    font-size: var(--font-size-14);    
    color: var(--mc-gray4);
}
.form-control, .form-control-lg, .form-select-lg, .btn-lg{
  font-size: var(--font-size-16);
  height: 48px;
  line-height: 30px;
}

#videoModal iframe{
  width: 100%;
  height: 300px;
}
#videoModal h2{
  padding-top: 24px;
}

.form-width-973{
  width: 97.3%;
}

/* 정이원 login 시작 */
.login .row>*{
  padding: 0px;
}
.login{
  width: 400px;
  height: 442px;
  background-color: #fff;
  background-image: url(/admin/img/keepcoding_logo.svg);
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: center 43px;
  border: 1px solid #fff;
  border-radius: 0 20px;
  box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 0.15);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -85%);
}
.login input:focus{
  outline: none;
  border: var(--primary-color);
  box-shadow: 0 0 5px 0 var(--primary-color);
}
.login input[type="text"],
.login input[type="password"]{
  padding: .8em .8em;
}
.login_content > div{
  margin: 0 40px;
}
.login_content .login_id{
  padding-top: 110px;
}
.login_content .login_pw{
  margin-top: 33px;
}
.login_id label,
.login_pw label{
  margin-bottom: 8px;
  font-size: 16px;
  color: #495057;
}
.login_id input,
.login_pw input{
  width: 320px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid #CED4DA;
}
.login button{
  font-size: 16px;
  color: #495057;
}
.login_pw{
  margin-top: 20px;
}
.login_content a{
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: none;
  margin-top: 10px;
}
.login button{
  width: 320px;
  height: 48px;
  border: none;
  border-radius: 10px;
  background: #D9D9D9;
  margin: 10px 40px 46px 40px;
}
.login_ir{
  padding-top: 12px;
}
.login_ir label{
  color: var(--mc-gray3);
  font-size: 16px;
  margin-left: 8px;
  font-weight: 500;
}
.login_ir .form-check-input{
  margin-top: 0;
}
/* 정이원 login 끝 */

/* 정이원 coupon_up 시작 */
.coupon_up_status_on{
  margin-right: 16px;
}
.coupon_up_status_on.form-check,
.coupon_up_status_off.form-check{
  min-height: 0;
  margin-bottom: 0;
}
/* 정이원 coupon_up 끝 */
