/* bootstrap 초기화 */
.row {
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
}

p{
  margin-bottom: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}
dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0;
}
ol, ul {
  padding-left: 0;
}

/* navbar */

nav{
  z-index: 100;
}
.nav_top > div{
  gap: 100px;
}
.user img{
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.logo a{
  display: block;
  text-indent: -9999rem;
  background-image: url('../img/logo.png');
  background-size: cover;
  width: 130px;
  height: 25px;
  background-repeat: no-repeat;
}
.nav_top{
  background-color: #fff;
  padding: 20px 40px;
  border-bottom: 0.3px silver solid;
  position:fixed;
  left:0;
  right:0;
  top:0;
}
.nav_side{
  position: fixed;
  width: 250px;
  top:71px;
  bottom:0;
  left: 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* right:250px; */
  background-color: #fff;
  border-right: 0.3px silver solid;
}
.nav_side ul{
  width: 100%;
}
.nav_side > ul > li{
  padding: 30px 37px;
  border-bottom: 0.3px silver solid;
}
.nav-link{
  padding: 0;
}
.nav_side > ul > li ul{
  display: flex;
  flex-direction: column;
  gap:20px;
}

/* index.html */

body.index{
  background-color: var(--mc-gray2);
}
.sell_report{
  width: 100%;
  gap:30px;
}
.bd-callout {
  width: 100%;
  padding: 38.5px 52.5px;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: var(--bd-callout-color, inherit);
  background-color: #fff;
  border-left: 0.25rem solid var(--bd-callout-border, #4E75FF);
}
.member{
  width:100%;
}
.kcard.big{
  width: 100%;
}
.kcard{
  width: 600px;
  /* height: 144px; */
  padding:40px;
  background-color: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  gap: 20px;
}
.kcard h6{
  margin-bottom: 30px;
}
.kcard_text span{
  display: block;
}
.rate{
  height: 25px;
  position: relative;
  width:100%;
  border:2px solid #ccc;
  border-radius: 12.5px;
}
.rate .bar{
  z-index: 1;
  position: absolute;
  left: 0;top: 0;bottom: 0;
  width: 0;
  background: #4E75FF;
}
.ratebar{
  gap: 30px;
}
.ratebar.front{
  padding-bottom: 20px;
}
.callout span{
  font-weight: bold;
}
.callout i {
  font-size: 25px;
}
.smile_icons i{
  font-size: 20px;
}
i.i-fill{
  color:var(--primary-color);
}
i.i-empty{
  color:var(--mc-gray2);
}
.coupon_report i{
  font-size: 35px;
}